src/main/mule/mule-hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab89d9d8-5307-454a-a143-13b021db2756" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="add85260-2a72-48d3-8371-3d8f3d071a3b" file="app.yaml" />
	<flow name="mule-hello-worldFlow" doc:id="4e3c1995-c6c9-4455-bd1b-bbfd9bb16f36" tracking:enable-default-events="true">
		<http:listener doc:name="Listener" doc:id="6c5295c7-7f92-4550-b6f7-63315fb47c7b" config-ref="HTTP_Listener_config" path="/hello-world"/>
		<logger level="INFO" doc:name="Logger" doc:id="a4373649-66e6-409b-8103-0c5d8bee873d" message="Received request for hello world"/>
		<set-payload value='#["Successfully executed for Hello world"]' doc:name="Set Payload" doc:id="7b88eb4c-41c9-4917-8cf0-5443a7fe2fc0" mimeType="application/json"/>
	</flow>
</mule>
